{% extends 'base.html' %}

{% block Title %} Add a pet for adoption {% endblock%}

{% block Content %}



<h1 class="mx-3">Add a pet for adoption</h1>

<div class="container">

  <form id="pet-add-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
           if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>

    {% endfor %}

    <button type="submit">Submit</button>
  </form>

</div>


{% endblock%}
