{% extends 'base.html' %}

{% block Title %} Add a pet for adoption {% endblock%}

{% block Content %}



<h1 class="mx-3">Add a pet for adoption</h1>



  <form id="pet-add-form" method="POST" class="col-6 mx-3" >
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
    {% for field in form
           if field.widget.input_type != 'hidden' %}
        
        <div class="form-group row">
          {{ field.label(class='col-3 col-form-label') }}
          <div class="col-8">
            {% for error in field.errors %}<div class="col-sm-12 btn btn-sm btn-danger">{{ error }}</div>{% endfor %}
            {{ field(class='form-control') }}
          </div>
        
        </div>

      

    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>


{% endblock%}
