{% extends 'base.html' %}

{% block Title %} Adopt a Pet {% endblock%}

{% block Content %}

<h1 class="mx-3">Pets</h1>


<div class="container">

  {% for pet in pets %}
  <a href="/{{pet.id}}">
    <div class="col-3">
      <img class="img-thumbnail" src="{{pet.photo_url}}" alt="photo of {{pet.name}}">
      <p>
        <span class="text-success">{{pet.name}}</span>

        {% if pet.available %}
        <span class="text-secondary"><b>is available!</b></span>
        {% endif %}
      </p>
    </div>
  </a>
  {% endfor %}

</div>

<form>
  <button class="btn btn-success ms-3" formaction="/add" formmethod="GET">
    Add a Pet
  </button>
</form>


{% endblock%}